<dom-module id="election-dash-538">
  <link href="election-dash-538.css" rel="import" type="css" />
  <template>
    <div class="content">
      <strand-header size="medium" unresolved>FiveThirtyEight: <a href="http://http://projects.fivethirtyeight.com/2016-election-forecast/" target="_blank">Current Forecast / 3-day / 7-day</a> </strand-header>
      <strand-grid fitparent id="grid" style="min-height: 150px;">
        <strand-grid-column width="18%" field="candidate">Candidate</strand-grid-column>
        <strand-grid-column width="27%" field="polls-plus">Polls-Plus</strand-grid-column>
        <strand-grid-column width="27%" field="polls-only">Polls-Only</strand-grid-column>
        <strand-grid-column width="27%" field="now-cast">Now Cast</strand-grid-column>
      </strand-grid>    
    </div>
    <strand-sync id="forecast" endpoint="https://projects.fivethirtyeight.com/2016-election-forecast/US.json"></strand-sync>
  </template>
</dom-module>
<script src="election-dash-538.js"></script>
