<dom-module id="election-dash-huffpollster">
  <link href="election-dash-huffpollster.css" rel="import" type="css" />
  <template>
    <div class="content">
      <strand-grid id="grid" class="polling-grid">
        <strand-grid-column width="25%" field="candidate">Candidate</strand-grid-column>
        <strand-grid-column width="25%" field="current">Current</strand-grid-column>
        <strand-grid-column width="25%" field="three">Last 3 days</strand-grid-column>
        <strand-grid-column width="25%" field="week">Last Week</strand-grid-column>
      </strand-grid>    
    </div>
  </template>
</dom-module>
<script src="election-dash-huffpollster.js"></script>
