<dom-module id="election-dash-huffpollster">
  <link href="election-dash-huffpollster.css" rel="import" type="css" />
  <template>
    <div class="content">
      <strand-header size="medium" unresolved>Huffington Pollster: Poll Averages</strand-header>
      <strand-grid id="grid" style="min-height:150px;padding-bottom:15px;">
        <strand-grid-column field="candidate">Candidate</strand-grid-column>
        <strand-grid-column field="percent">Percent</strand-grid-column>
      </strand-grid>    
    </div>
  </template>
</dom-module>
<script src="election-dash-huffpollster.js"></script>
