<dom-module id="election-dash-polls">
  <link href="election-dash-polls.css" rel="import" type="css" />
  <template>
    <div class="content">
      <strand-grid id="grid" class="polling-grid" style="height: 400px;">
        <strand-grid-column width="13%" field="state">State</strand-grid-column>
        <strand-grid-column width="18%" field="pollster">Pollster</strand-grid-column>
        <strand-grid-column width="15%" field="dates">Date</strand-grid-column>
        <strand-grid-column width="10%" field="clinton">Clinton</strand-grid-column>
        <strand-grid-column width="10%" field="trump">Trump</strand-grid-column>
        <strand-grid-column width="10%" field="johnson">Johnson</strand-grid-column>
        <strand-grid-column width="24%" field="spread">Spread</strand-grid-column>
        <template preserve-content>
          <strand-grid-item model="{{model}}" scope="{{scope}}">
            <div field="spread">
              <template is="dom-if" if="{{model.isClintonUp}}">
                <div class="dem">{{model.spread}}</div>
              </template>

              <template is="dom-if" if="{{!model.isClintonUp}}">
                <div class="gop">{{model.spread}}</div>
              </template>
            </div>
          </strand-grid-item>
        </template>        
      </strand-grid>    
    </div>
    <strand-sync id="recentpolls" endpoint="https://projects.fivethirtyeight.com/2016-election-forecast/updates.json"></strand-sync>
  </template>
</dom-module>
<script src="election-dash-polls.js"></script>
