<dom-module id="election-dash-polls">
  <link href="election-dash-polls.css" rel="import" type="css" />
  <template>
    <div class="content">
    <strand-header size="medium" unresolved>Recent Polls: Raw Data</strand-header>
    <iframe id='rcp' class="rcp-frame" src="http://www.realclearpolitics.com/epolls/latest_polls/#table-1"></iframe>    
      <!-- <strand-grid id="grid" style="min-height:150px;padding-bottom:15px;"> -->
        <!-- <strand-grid-column field="candidate">Candidate</strand-grid-column> -->
        <!-- <strand-grid-column field="percent">Percent</strand-grid-column> -->
        <!-- <strand-grid-column field="date">Date</strand-grid-column> -->
      <!-- </strand-grid>     -->
    </div>
  </template>
</dom-module>
<script src="election-dash-polls.js"></script>
