:host {
}

:host([hidden]) {
  display: none;
}

:host([disabled]) {
  pointer-events:none;
  opacity: 0.5;
}

.card {
  width: 97.5%;
}


.article.left {
  width: 80%;
  float: left;
}

.article.right {
  width: 20%;
  float: right;
}

.article.fulltext {
  -webkit-font-smoothing: antialiased;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 12px;  
}