<dom-module id="election-dash-predictwise">
  <link href="election-dash-predictwise.css" rel="import" type="css" />
  <template>
    <div class="content">
      <strand-header size="medium" unresolved>PredictWise: Betting Market Odds</strand-header>
      <strand-grid id="grid" style="min-height:120px;">
        <strand-grid-column field="candidate">Candidate</strand-grid-column>
        <strand-grid-column field="odds">Odds</strand-grid-column>
      </strand-grid>    
    </div>
    <strand-sync id="markets" endpoint="http://table-cache1.predictwise.com/latest/group_3.json"></strand-sync>    
  </template>
</dom-module>
<script src="election-dash-predictwise.js"></script>
