<dom-module id="election-dash-manager">
  <link href="election-dash-manager.css" rel="import" type="css" />
  <template>
    <strand-header size="large" unresolved>Election Nerdboard</strand-header>
    <div class='app'>
      <div class='column left'>
        <election-dash-538></election-dash-538>
        <election-dash-poll-tabs></election-dash-poll-tabs>
      </div>

      <div class='column right'>
        <election-dash-twitter></election-dash-twitter>
      </div>  
  
    </div>
  </template>
</dom-module>
<script>
  window.pollsterPoll = function(incoming_data){
    console.log(incoming_data);
  };
</script>
<script src="election-dash-manager.js"></script>
