<dom-module id="election-dash-battlegrounds">
  <link href="election-dash-battlegrounds.css" rel="import" type="css" />
  <template>

    <strand-grid id="grid" sort-order="1"  class="polling-grid">
      <strand-grid-column width="23%" field="state">State</strand-grid-column>
      <strand-grid-column width="27%" field="Clinton">Clinton</strand-grid-column>
      <strand-grid-column width="20%" field="Trump">Trump</strand-grid-column>
      <strand-grid-column width="30%" field="spread">spread</strand-grid-column>
      <template preserve-content>
        <strand-grid-item model="{{model}}" scope="{{scope}}">
          <div field="spread">
            <template is="dom-if" if="{{model.isClintonUp}}">
              <div class="dem">{{model.spread}}</div>
            </template>
          </div>
        </strand-grid-item>
      </template>

    </strand-grid>

  </template>
</dom-module>
<script src="election-dash-battlegrounds.js"></script>
